.react-flow{
    width: 50% !important;
    height: 80% !important;
    /* position: fixed !important; */
    overflow: hidden;
    background: beige;
    border: black;
    margin-top: 3%;
}

.Connection{
    display: flex;
    height: 1000px;
    width: 100%;
    flex-wrap: nowrap;
    align-content: space-between;
    flex-direction: row;
}

#EnableButton{
    height: 80px;
}

#Description{
    width: 20%;
    margin-top: 7%;
    margin-left: 5%;
}