.warning{
    color: orange;
}

.danger{
    color: red;
}

.okay{
    color: green;
}

.DeviceInput{
    width: 100%
}

.Children {
    display: block;
}

.Parent{
    width: 100%;
}

.card:hover{
    background-color: gray;
    cursor: pointer;
}

.AnalyzeResult{
    display: none;
}